body {
    margin: 0;
    padding: 0;

    background-color: wheat;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
}

.wide {
    grid-column: 1/4;
    text-align: center;
}

i {
    font-size: 6em;
}

i:hover {
    color: brown;
}

a {
    text-align: center;
    text-decoration: none;
    color: black;
}