@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    /* kolory strony */
    --szary: #54514a;
    --szaryjasny: #86827b;
    --jasny: #fff0ca;
    --niebieski: #00c9aa;
    --pomarancz: #ec8349;

    /* kolory tekstu*/
    --lighttextcolor: #A1ACB3;

    /* czcionki */
    --serif: 'Roboto Slab', serif;
    --sans-serif: 'Roboto', sans-serif;
    --monospace: 'Courier Prime', monospace;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;


    font-family: var(--sans-serif);
    background-image: linear-gradient(to right, #54514a, #4d5046, #424f47, #374e4b, #2e4c52, #2f4858);

}

nav {
    position: sticky;
    position: -webkit-sticky;
    /*safari */
    top: 0;
    z-index: 2;

    min-height: 50px;
    font-family: var(--monospace);
    color: #A1ACB3;

    border-bottom: var(--pomarancz) solid 3px;

    background-image: linear-gradient(to right, #54514a, #4d5046, #424f47, #374e4b, #2e4c52, #2f4858);
}


ul {
    margin: 0;
    padding: 10px 0 5px 0;
    text-align: center;

    list-style-type: none;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    display: inline-block;
    overflow: hidden;
    min-width: 200px;
    text-decoration: none;
    color: var(--lighttextcolor);

    padding: 15px 40px 10px 40px;

    border-radius: 15px;

    font-size: 1.5rem;

    cursor: pointer;

    transition: 0.5s;
}

li a:hover {
    background-color: #4c8077;
}

.smallScreenNav {
    display: none;
}


.dropdown {
    position: relative;
    display: block;
    float: right;


    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    transition: 0.5s;
}

.dropdown-button {
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 1.25em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pomarancz);
    min-width: 200px;
    z-index: 3;

    border-radius: 10px;

    right: 0;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;

    display: block;

    transition: 0.5s;
}

.dropdown-content a:first-of-type {
    border-radius: 10px 10px 0 0;
}

.dropdown-content a:last-of-type {
    border-radius: 0 0 10px 10px;
}

.dropdown:hover .dropdown-content {

    display: block;
}

.dropdown:hover {
    color: #051633;
}

.dropdown-content a:hover {
    background-color: #162744;
}

main {
    max-width: 1200px;
    margin: auto;
}

.mid-text {
    text-align: center;
}

.mid-text .container {

    position: relative;
}

.mid-text h2 {
    margin-bottom: 0;
}

.mid-text .firstP {
    margin: 0;
    width: 100%;

    font-size: 2.5em;
    font-family: var(--serif);

    color: var(--lighttextcolor);
    top: 9%;
    position: absolute;
}

.mid-text .imie {
    font-size: 46pt;
    font-family: var(--monospace);

    color: #cfd4d6;
    position: absolute;
    top: 15%;
    left: 0;

    width: 100%;
}

.zdjecie {
    width: 80%;
    height: auto;

    border: 4px solid #051633;

    z-index: -1;
}

h2 {
    font-family: var(--serif);
    font-size: 4rem;
}

#omnie p {
    font-size: 1.5rem;
    font-family: var(--sans-serif);
}

.projects {
    width: 46%;
    padding: 1%;
    float: left;
}

.projects::after {
    content: '';
    clear: both;
    display: table;
}

section {
    position: relative;
}



form {
    width: 50%;
    margin: auto;

}

input[type="text"],
input[type="email"],
textarea {
    border: 0;
    background: #191919;
    display: block;
    margin: 5px auto 0 auto;
    text-align: center;

    border: #051633 2px solid;
    padding: 14px 10px;
    width: 230px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.3s;
}

textarea {
    min-width: 300px;
    max-width: 80%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    width: 350px;
    border: var(--pomarancz) solid 2px;
}

form h3 {
    font-family: var(--monospace);
    font-size: 1.75rem;
    margin: 0;
    padding: 10px;
}

input[type="submit"] {
    border: 0;
    background: #191919;
    display: block;
    margin: 5px auto;
    text-align: center;

    border: #0f902b 2px solid;
    padding: 14px 10px;
    width: 230px;
    outline: none;
    color: white;
    border-radius: 24px;
}

footer {
    background-color: #726951;
    padding: 20px;
    min-height: 100px;

    color: var(--lighttextcolor);

    font-family: var(--serif);
}

footer li {
    display: block;
    text-align: left;
    padding: 5px;
}



/* Scrollbar */
* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 500px) {
    .smallScreenNav {
        display: block;
    }

    .bigScreenNav {
        display: none;
    }

    .dropdown {
        right: 50px;

        font-size: 1.25em;
    }

}


@media screen and (max-width: 1250px) {
    li a {
        min-width: 200px;

        padding: 35px 15px 35px 15px;
    }
}

@media screen and (max-width: 850px) {
    li a {
        min-width: 75px;
        font-size: 1.25em;

        padding: 10px 5px 10px 5px;
    }
}