@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Fredoka&family=Noto+Sans&family=Noto+Serif+Display&family=Ubuntu+Mono&display=swap');

:root {
    --zolty: #ffee32;
    --zolty-ciemny: #ffd100;
    --bialy: #f2f3ae;
    --bronz: #392a16;
    --jasny-bronz: #634133;

    --serif-bitter: 'Bitter', serif;
    --serif-Noto: 'Noto Serif Display', serif;
    --sans-fredoka: 'Fredoka', sans-serif;
    --sans-Noto: 'Noto Sans', sans-serif;
    --mono-ubuntu: 'Ubuntu Mono', monospace;


    --text-color: black;
}

* {
    scroll-behavior: smooth;
}

body {
    border: 0;
    margin: 0;
    background-color: var(--bialy);
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    padding: 1rem 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--serif-bitter);
}

.header img {
    width: 150px;
}

.header {
    display: flex;
    justify-content: space-around;

    background-color: var(--zolty);
    font-family: var(--mono-ubuntu);
    font-size: 1.5rem;
}

#lokalizacja {
    text-align: center;
}

#produkty img {
    width: 48%;
    padding: 1%;
}

.flex {
    display: flex;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--bronz);
}

main {
    max-width: 1000px;
    margin: auto;

    font-family: var(--sans-Noto);
}

section p {
    font-size: 1.2rem;
    color: var(--text-color);
}

section {
    color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    overflow: hidden;
}

footer {
    background: linear-gradient(to right, var(--bronz), var(--jasny-bronz));
    color: var(--bialy);
    padding: 2rem;

    display: grid;
    grid-template-columns: auto auto auto;

    line-height: 2rem;
}
footer i {
    color: var(--bialy);
    font-size: 10rem;

}

@media screen and (min-width: 767px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer img {
        margin-top: 2.5rem;
    }

    .header img{
        width: 100px;
    }
}